{% extends 'base.html.twig' %}

{% block body %}
    INDEX TODO

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Todo</th>
            <th>CreateDate</th>
            <th>DueDate</th>
            <th>Description</th>
            <th>Control</th>
        </tr>
        </thead>
        <tbody>

        {% for todo in todoList %}
            <tr>
                <td scope="row">{{ todo.id }}</td>
                <td>{{ todo.name }}</td>
                <td>{{ todo.createdate|date('Y-m-d H:i:s') }}</td>
                <td>{{ todo.duedate | date('Y-m-d H:i:s') }}</td>
                <td>{{ todo.description }}</td>
                <td>
                    <a href="/todo/detail/{{ todo.id }}" class="btn btn-outline-success">View</a>
                    <a href="/todo/delete/{{ todo.id }}" class="btn btn-outline-danger">Delete</a>
                    <a href="/todo/edit/{{ todo.id }}" class="btn btn-outline-primary">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


